/* //////////////////General style////////////////*/
*{
    /* font-family: "Exo", sans-serif; */
    font-family: sans-serif;
    margin: 0;
    /* background-color: rgb(245, 158, 158); */
}
body{
    padding-top: 70px;
}
.container{
    width: 90%;
    margin: auto;
    /* background-color:cadetblue; */
}
.d-flex{
    display:flex;
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
/* //////////////////General style////////////////*/

/* //////////////////Navbar////////////////*/

.navbar{
    background-color:#F5F3FF;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;

}
.navbar .container{
    height: 70px;
}
.navbar .links ul{
    gap: 25px;
}
.logo{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.links{
    font-weight: 500;

}
.navbar ul a.active{
    color: #7C3AED;
}
.cursor-pointer{
    cursor: pointer;
}

.relative{
    position: relative;
}
.bg-color{
    background-color:#8E51FF;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.fa-helicopter{
    font-size: 18px;
}
/* //////////////////Navbar////////////////*/

/* //////////////////Hero section////////////////*/
