/* //////////////////General style////////////////*/
* {
    /* font-family: "Exo", sans-serif; */
    font-family: sans-serif;
    margin: 0;
    /* background-color: rgb(245, 158, 158); */
    scroll-behavior:smooth;
}

body {
    padding-top: 70px;
}

.container {
    width: 96%;
    margin: auto;
    /* background-color:cadetblue; */
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    /* background-color:aqua; */
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.center {
    text-align: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* .left-section,
.right-section{
    float: left;
    width: 50%;
} */

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

/* .border-radius{
    border-radius:16px;
} */
/* //////////////////General style////////////////*/

/* //////////////////Navbar////////////////*/

.navbar {
    background-color: #F5F3FF;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;

}

.navbar .container {
    height: 70px;
}

.navbar .links ul {
    gap: 25px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.links {
    font-weight: 500;

}

.navbar .links ul li a {
    transition: color 0.3s ease;
    font-size: 16px;
}

.navbar .links ul li a:hover {
    color: #7C3AED;
}

.cursor-pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.bg-color {
    background-color: #8E51FF;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.fa-helicopter {
    font-size: 18px;
}

/* //////////////////Navbar////////////////*/

/* //////////////////Hero section////////////////*/
.hero-section {
    padding-block: 90px;
}

.parent-section {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

.left-section,
.right-section {
    width: 50%;
}

.image {
    position: relative;
    border: 2px solid #E0E2E6;
    border-radius: 24px;
    padding: 20px;
}

.image img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.sales {
    position: absolute;
    background-color: #8E51FF;
    color: white;
    padding: 8px 15px;
    top: 40px;
    left: 35px;
    border-radius: 80px;
    font-size: 14px;
    font-weight: 700;
}

.section1 {
    margin-bottom: 20px;
}

.section1 span {
    display: inline-block;
    padding: 6px 10px;
    color: white;
    background-color: #A684FF;
    border-radius: 90px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}

.text h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.text h1 span {
    color: #8E51FF;
}

.text p {
    color: #333333;
    line-height: 1.8;
    font-size: 20px;
    margin-bottom: 35px;
}

.pricing {
    margin-bottom: 35px;
}

.section2 .s1 {
    font-size: 35px;
    font-weight: 700;
    color: #333333;
}

.section2 .s2 {
    margin-inline: 15px;
    text-decoration: line-through;
    color: #333333;
    font-size: 25px;
}

.section2 .s3 {
    display: inline-block;
    padding: 6px 10px;
    color: #E7000B;
    background-color: #FFE2E2;
    border-radius: 90px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pricing p {
    font-size: 16px;

}

.btns button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    border: none;
    padding: 15px 25px;
    border-radius: 90px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.btns .btn1 {
    background-color: #8E51FF;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.btns .btn2 {
    color: #333333;
    background-color: transparent;
    border: 2px solid #d1d5db;
    margin-block: 20px;
    font-weight: 600;
    font-size: 18px;
}

.btns button:hover {
    transform: scale(1.03);
}

/* //////////////////Hero section////////////////*/

/* //////////////////Section 2////////////////*/
.how-we-compare {
    padding-block: 90px;
    background-color: #F7F5FF;
}

.title h2 {
    font-size: 36px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 18px;
}

.title h2 span {
    color: #8E51FF;
}

.title p {
    font-size: 20px;
    font-weight: 500;
    /* margin-bottom: 20px; */
}

.compare-box {
    background-color: white;
    border: 2px solid #E0E2E6;
    border-radius: 24px;
    overflow-x: auto;
    margin-top: 60px;
}

.compare-row {
    min-width: 1000px;
    border-bottom: 1px solid #E0E2E6;
}

.compare-row:last-child {
    border-bottom: none;
}

.compare-col {
    flex: 1;
    width: 16%;
    padding: 18px 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature-col {
    display: flex;
    flex-direction: row;
    flex: 1.5;
    text-align: left;
    justify-content: flex-start;
    font-weight: 500;
    gap: 5px;
    color: #333333;
    padding-left: 30px;
}

.feature-col i {
    font-size: 18px;
    width: 25px;
    text-align: center;
}

.text-decoration {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 25px;
}

.compare-head {
    font-weight: 700;
}

.compare-head h3 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #333333;
    margin-top: auto;
}

.compare-head span {
    color: #6A7282;
    font-size: 14px;
}

.active-col {
    background-color: #EDE9FE;
    color: #7008E7;
    border-left: 1px solid;
    border-right: 1px solid;
    border: none;
    position: relative;
}

.compare-head .active-col {
    border-top: 2px solid #D8C5FF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    padding-top: 25px;
    margin-top: 25px;
}

.compare-row:last-child .active-col {
    border-bottom: 2px solid;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.tag {
    background-color: #8E51FF;
    color: white;
    padding: 8px 14px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
}

.tag i {
    margin-right: 5px;
}

.compare-col h3 {
    /* font-size: 28px; */
    font-weight: 700;
}

.stars {
    color: #FDC700;
    font-size: 18px;
    margin-bottom: 10px;
}

.rate {
    font-size: 18px;
    font-weight: 700;
}

.compare-rating .compare-col {
    padding-block: 35px;
}

/* colors */
.text-cyan {
    color: #00B8DB;
}

.text-lightgreen {
    color: #00BBA7;
}

.text-green {
    color: #00C950;
}

.text-orange {
    color: #FF6900;
}

.text-red {
    color: #FB2C36;
}

.text-lightblue {
    color: #00A6F4;
}

.text-idigo {
    color: #615FFF;
}

.text-blue {
    color: #2B7FFF;
}

.text-yellow {
    color: #F0B100;
}

/* .format-text{
    font-size: 30px;
    font-weight: 600;
} */
.text-red {
    color: #F54D04;
}

.text-grey {
    color: #D1D5DC;
}

.d-row {
    flex-direction: row;
    gap: 5px;
}

.winner {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.winner .box {
    display: inline-flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    padding: 18px 32px;
}

.winner .icon {
    color: #22C55E;
    font-size: 24px;
    margin-right: 12px;
}

.winner .text-left {
    text-align: left;
}

.winner .p1 {
    font-weight: 700;
    font-size: 18px;
    color: #16A34A;
    margin: 0;
}

.winner .p2 {
    font-size: 14px;
    color: #16A34A;
    margin: 0;
}

/* //////////////////Section 2////////////////*/

/* //////////////////Section 3////////////////*/
.customers {
    padding-block: 90px;
}
.title .padding{
    margin-bottom: 30px;
}
.customers .content {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-items: flex-start;
}
.customers .review {
    flex: 0.44;
    min-width:300px;
    position: sticky;
    top: 20px;
}
.customers .individuals {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
}
.review .stick-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid #eee;
    margin-top: 30px;
}
.sec1 {
    text-align: center;
    margin-bottom: 25px;
}
.sec1 .num {
    font-size: 50px;
    font-weight: 800;
    color: #333333;
}
.sec1 .stars i {
    color: #ffc107;
    font-size: 20px;
    margin: 0 2px;
}
.star {
    color: #FDC700;
    font-size: 14px;
    margin-bottom: 10px;
}
.sec2 {
    margin-bottom: 25px;
}
.rating-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}
.star-label {
    font-size: 14px;
    color: #333333;
    min-width: 25px;
}
.progress-container {
    flex-grow: 1;
    height: 11px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #F0B100;
    border-radius: 15px;
}

.percentage {
    font-size: 13px;
    color: #333333;
    min-width: 35px;
}
.sec3 .rate {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #DBD9DE;
    padding-top: 20px;
}

.sec3 .percentage,
.sec3 .number {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text-percent,
.text-number {
    font-size: 13px;
    font-weight: 500;
    color: #333333;
    padding-top: 5px;
}
.individual {
    background: #fff;
    padding: 45px;
    border-radius: 12px;
    border: 2px solid #eee;
    margin-top: 30px;
    /* margin-bottom: 0; */
}
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px;
}
.image-left {
    display: flex;
    gap: 15px;
    /* align-items: center; */
    align-items: flex-start;
}
.image-left img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #A987FE;
}

.image-left h4 {
    margin: 0;
    font-size: 18px;
    color: #1a1a1a;
}
.image-left span{
    color: #333333;
    font-size: 14px;
    margin-left: 5px;
}
.image-left p {
    margin: 0;
    font-size: 15px;
    color: #333333;
    padding: 5px;
    margin-block: 3px;
    align-items: flex-start;
}

.text-left {
    text-align: right;
}

.text-left span {
    display: block;
    font-size: 12px;
    color: #5D0EC0;
    border-radius:20px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 5px 8px;
    background-color: #EDE9FE;
}

.text-left p {
    font-size: 14px;
    color: #333;
    line-height: 1.2;
}

.bottom-section p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.button1 {
    padding: 15px 40px;
    background: #8E51FF;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.button1:hover {
    background: white;
    letter-spacing: 1px;
    color: #7F22FE;
    border: 2px solid #7F22FE;
}
/* //////////////////Section 3////////////////*/
.setup {
    padding-block: 90px;
    background-color: #F7F5FF;
}
.cards-section{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 65px;
}
.card {
    background: #fff;
    border-radius: 20px;
    padding: 24px;
    border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(25% - 25px);
    min-width: 230px;
    max-width: 230px;
}
.image-card {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 15px;
    height: 180px;
    transition: all 0.3s ease;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-card:hover {
    border-color: #ddd;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}
.sale {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px 12px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.bg-light{
    background-color: #00BBA7;
}
.bg-greencolor{
    background-color: #00C950;
}
.bg-bluecolor{
    background-color: #00B8DB;
}
.bg-orangecolor{
    background-color: #FF6900;
}
.card h3{
    font-size: 18px;
    font-weight: 600;
    color:#333333;
    padding-block: 10px;
}
.card p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #333333;
}
.price-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 15px;
}
.price-card span{
    color: #333333;
    font-weight: 700;
    font-size: 22px;
}
.button-card {
    background: #8b5cf6;
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 55px;
}
.button3 {
    padding: 18px 40px;
    background: white;
    color: #7F22FE;
    border: 2px solid #7F22FE;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}
.button3:hover {
    background:#7F22FE;
    letter-spacing: 1px;
    color: white;
    border: 2px solid #7F22FE;
}
/* //////////////////Section 3////////////////*/

/* //////////////////Section 4////////////////*/
.footer{
    background-color: #101828;
    color: white;
    padding-block: 70px;
}
.top{
    justify-content: flex-start;
    /* gap: 110px; */
    margin-bottom: 50px;
}
.DJI{
    width: 23%;
}
.product{
    margin-left: 8%;
}
.support{
    margin-inline: 16%;
}
.DJI .d-flex {
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}
.icon-footer {
    width: 40px;
    height: 40px;
    background-color: #7F22FE;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-footer i{
    font-size: 18px;
    color: white;
}
.DJI span{
    font-size: 24px;
    font-weight: 700;
}
.DJI p {
    color: white;
    line-height: 1.5;
    margin-bottom: 26px;
}
.social-icons {
    display: flex;
    gap: 15px;
    font-size: 14px;
}

.social-icons span {
    width: 40px;
    height: 40px;
    background-color: #1f2937;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}
.social-icons .facebook:hover {
    background-color: #1877F2;
}
.social-icons .twitter:hover {
    background-color: #1DA1F2;
}
.social-icons .instagram:hover {
    background-color: #E4405F;
}
.social-icons .youtube:hover {
    background-color: #FF0000;
}
.top h3 {
    font-size: 18px;
    margin-bottom: 25px;
}
.top ul {
    list-style: none;
    padding: 0;
}
.top ul li {
    margin-bottom: 15px;
    color: #9ca3af;
    transition: 0.3s;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.top ul li:hover {
    color: white;
}
.bottom {
    border-top: 1px solid #1f2937;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.bottom p {
    color: #d1d5db;
    font-size: 14px;
}

.image-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.image-icon div {
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

.image-icon img {
    height: 18px;
    display: block;
}