/* //////////////////General style////////////////*/
*{
    /* font-family: "Exo", sans-serif; */
    font-family: sans-serif;
    margin: 0;
    /* background-color: rgb(245, 158, 158); */
}
body{
    padding-top: 70px;
}
.container{
    width: 92%;
    margin: auto;
    /* background-color:cadetblue; */
}
.d-flex{
    display:flex;
    flex-wrap: wrap;
    /* background-color:aqua; */
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.center{
    text-align: center;
}
.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
/* .left-section,
.right-section{
    float: left;
    width: 50%;
} */

.float-right{
    float: right;
}
.float-left{
    float: left;
}
.clear{
    clear: both;
}
/* .border-radius{
    border-radius:16px;
} */
/* //////////////////General style////////////////*/

/* //////////////////Navbar////////////////*/

.navbar{
    background-color:#F5F3FF;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;

}
.navbar .container{
    height: 70px;
}
.navbar .links ul{
    gap: 25px;
}
.logo{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.links{
    font-weight: 500;

}
.navbar .links ul li a {
    transition: color 0.3s ease;
    font-size: 16px;
}

.navbar .links ul li a:hover {
    color: #7C3AED;
}
.cursor-pointer{
    cursor: pointer;
}

.relative{
    position: relative;
}
.bg-color{
    background-color:#8E51FF;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.fa-helicopter{
    font-size: 18px;
}
/* //////////////////Navbar////////////////*/

/* //////////////////Hero section////////////////*/
.hero-section{
    padding-block: 90px;
}
.parent-section{
    display: flex;
    align-items: flex-start;
    gap: 60px;
}
.left-section,
.right-section{
    width: 50%;
}
.image{
    position: relative;
    border: 2px solid #E0E2E6;
    border-radius: 24px;
    padding: 20px;
}
.image img{
    width: 100%;
    display: block;
    border-radius: 20px;
}
.sale{
    position: absolute;
    background-color:#8E51FF;
    color:white;
    padding: 8px 15px;
    top: 40px;
    left: 35px;
    border-radius: 80px;
    font-size: 14px;
    font-weight: 700;
}
.section1{
    margin-bottom: 20px;
}
.section1 span{
    display: inline-block;
    padding: 6px 10px;
    color:white;
    background-color:#A684FF;
    border-radius: 90px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}
.text h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
.text h1 span{
    color: #8E51FF;
}
.text p{
    color:#333333;
    line-height: 1.8;
    font-size: 20px;
    margin-bottom: 35px;
}
.pricing{
    margin-bottom: 35px;
}
.section2 .s1{
    font-size: 35px;
    font-weight: 700;
    color: #333333;
}
.section2 .s2{
    margin-inline: 15px;
    text-decoration: line-through;
    color: #333333;
    font-size: 25px;
}
.section2 .s3{
    display: inline-block;
    padding: 6px 10px;
    color:#E7000B;
    background-color:#FFE2E2;
    border-radius: 90px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 10px;
}
.pricing p{
    font-size: 16px;

}
.btns button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    border: none;
    padding: 15px 25px;
    border-radius: 90px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}
.btns .btn1{
    background-color: #8E51FF;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.btns .btn2{
    color: #333333;
    background-color: transparent;
    border: 2px solid #d1d5db;
    margin-block: 20px;
    font-weight: 600;
    font-size: 18px;
}
.btns button:hover{
    transform: scale(1.03);
}
/* //////////////////Hero section////////////////*/

/* //////////////////Section 2////////////////*/
.how-we-compare{
    padding-block: 90px;
    background-color: #F7F5FF;
}
.title h2{
    font-size: 36px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 18px;
}
.title h2 span{
    color:#8E51FF;
}
.title p{
    font-size: 20px;
    font-weight: 500;
    /* margin-bottom: 20px; */
}
.compare-box{
    background-color: white;
    border: 2px solid #E0E2E6;
    border-radius: 24px;
    overflow-x: auto;
    margin-top: 60px;
}
.compare-row{
    min-width: 1000px;
    border-bottom: 1px solid #E0E2E6;
}
.compare-row:last-child{
    border-bottom: none;
}
.compare-col{
    flex: 1;
    width: 16%;
    padding: 18px 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feature-col{
    display: flex;
    flex-direction: row;
    flex: 1.5;
    text-align:left;
    justify-content: flex-start;
    font-weight: 500;
    gap: 5px;
    color:#333333;
    padding-left: 30px;
}
.feature-col i {
    font-size: 18px; 
    width: 25px;
    text-align: center;
}
.text-decoration{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin-top:20px;
    margin-bottom: 25px;
}
.compare-head{
    font-weight: 700;
}
.compare-head h3{
    margin-bottom: 5px;
    font-size: 18px;
    color: #333333;
    margin-top:auto;
}
.compare-head span{
    color:#6A7282;
    font-size: 14px;
}
.active-col{
    background-color:#EDE9FE;
    color:#7008E7 ;
    border-left: 1px solid;
    border-right: 1px solid;
    border: none;
    position: relative;
}
.compare-head .active-col {
    border-top: 2px solid #D8C5FF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    padding-top: 25px;
    margin-top: 25px;
}
.compare-row:last-child .active-col {
    border-bottom: 2px solid;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.tag{
    background-color: #8E51FF;
    color: white;
    padding: 8px 14px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
}
.tag i{
    margin-right: 5px;
}
.compare-col h3{
    /* font-size: 28px; */
    font-weight: 700;
}
.stars{
    color: #FDC700;
    font-size: 18px;
    margin-bottom: 10px;
}
.rate{
    font-size: 18px;
    font-weight: 700;
}
.compare-rating .compare-col{
    padding-block: 35px;
}

/* colors */
.text-cyan{
    color: #00B8DB;
}
.text-lightgreen{
    color: #00BBA7;
}
.text-green{
    color: #00C950;
}
.text-orange{
    color: #FF6900;
}
.text-red{
    color: #FB2C36;
}
.text-lightblue{
    color: #00A6F4;
}
.text-idigo{
    color: #615FFF;
}
.text-blue{
    color:#2B7FFF;
}
.text-yellow{
    color: #F0B100;
}
/* .format-text{
    font-size: 30px;
    font-weight: 600;
} */
.text-red{
    color: #F54D04;
}
.text-grey{
    color: #D1D5DC;
}
.d-row {
    flex-direction: row;
    gap: 5px;
}
.winner {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.winner .box {
    display: inline-flex;
    align-items: center; 
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    padding: 18px 32px;      
}

.winner .icon {
    color: #22C55E;  
    font-size: 24px;
    margin-right: 12px;   
}

.winner .text-left {
    text-align: left; 
}

.winner .p1 {
    font-weight: 700;
    font-size: 18px;
    color: #16A34A;  
    margin: 0;
}

.winner .p2 {
    font-size: 14px;
    color: #16A34A;   
    margin: 0;
}